
  <div class="container p-4">
     <h1>Mis videos</h1>

    <br><br>

    <div class="row">
      
      <div class="container-fluid px-lg-5">
                    <div class="row order-info">


<div class="container text-center my-auto">

  <div class="container text-center my-auto">
  
  <h3 class="card-title text-uppercase" > 
    {{data.name}}
  </h3>
  
 
  </a>


<!-- about-->
<section class="wthree-row py-5" id="about">
  <div class="container pt-lg-5">
    <div class="row about-main">
      <div class="col-lg-6 about-right">

    <iframe  width="447" height="410" src="{{data.url}}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


      <div class="col-lg-6 about-text-grid text-left">
        <div class="title-desc">
          <h3 class="main-title-w3pvt text-capitalize"> Descripcion del video</h3>
        </div>

          <p class="m-2">{{data.description}}</p>
<br>
   <h4 class="card-title text-uppercase">
    Categoría: {{data.category}}
  </h4>
<br>

  <h4 class="card-title text-uppercase">
    RED SOCIAL: {{data.red_name}}
  </h4>
Usuario:
  <a style="color: crimson; text-decoration: none;" href="/user_videos/{{data.id}}">
    <h4 style="color: yellow; text-decoration: none;" class="card-title">
      {{data.username}}
    </h4>

    {{#if user}}

  <form action="/detail/{{data.video_id}}" method="POST">
    <p class="clasificacion">
      <input id="radio1" type="radio" name="votos" value="5">
      <!--
    --><label for="radio1">★</label>
      <!--
    --><input id="radio2" type="radio" name="votos" value="4">
      <!--
    --><label for="radio2">★</label>
      <!--
    --><input id="radio3" type="radio" name="votos" value="3">
      <!--
    --><label for="radio3">★</label>
      <!--
    --><input id="radio4" type="radio" name="votos" value="2">
      <!--
    --><label for="radio4">★</label>
      <!--
    --><input id="radio5" type="radio" name="votos" value="1">
      <!--
    --><label for="radio5">★</label>
    </p>

    <button id="verButton" type="submit" onclick="" class="btn btn-primary" onclick="refresh()">
      Votar Video
    </button>
  </form>

  {{/if}}

{{#each prom}}
    <!-- CALIFICACION PROMEDIADA DE TODOS LOS USERS AQUÍ  -->
  <input id="votos" value="{{prom}}" >
<p>Calificacion Final</p>
  <p >
    <label id="r1" >★</label>
    <label id="r2" >★</label>
    <label id="r3" >★</label>
    <label id="r4" >★</label>
    <label id="r5" >★</label>
    <label>{{prom}}/5 </label>

  </p><br>  


{{/each}}
  <p class="text-muted">
    {{timeago created_at}}
  </p>
</div>


<script type="text/javascript">
  var votos = document.getElementById("votos");
  function calificar() {
    console.log(votos.value);
    var radio1 = document.getElementById("r1");
    var radio2 = document.getElementById("r2");
    var radio3 = document.getElementById("r3");
    var radio4 = document.getElementById("r4");
    var radio5 = document.getElementById("r5");
      console.log(votos.value);
      for(var i=0;i<=votos.value;i++){   
      switch (i) {
        case 1:
          radio1.style ="color: orange";
          break;
        case 2:
          radio2.style ="color: orange";
          break;
        case 3:
          radio3.style ="color: orange";
          break;
        case 4:
        radio4.style ="color: orange";
          break;
        case 5:
          radio5.style ="color: orange";
          break;
        default:
          console.log("no funciona");
      }
      }
  };

  window.onload = calificar;
function refresh(){
 
location.reload(true);
}
 
</script>

        <!--<a href="#bottom"> Read more</a>
      -->
      </div>
    </div>
  </div>
</section>




















     {{>footer}} 





<!-- *********** ESTILOS CALIFICACIÓN ********* -->
<script type="text/javascript">
  var votos = document.getElementById("votos");
  function calificar() {
    console.log(votos.value);
    var radio1 = document.getElementById("r1");
    var radio2 = document.getElementById("r2");
    var radio3 = document.getElementById("r3");
    var radio4 = document.getElementById("r4");
    var radio5 = document.getElementById("r5");
    console.log(votos.value);
    for (var i = 0; i <= votos.value; i++) {
      switch (i) {
        case 1:
          radio1.style = "color: orange";
          break;
        case 2:
          radio2.style = "color: orange";
          break;
        case 3:
          radio3.style = "color: orange";
          break;
        case 4:
          radio4.style = "color: orange";
          break;
        case 5:
          radio5.style = "color: orange";
          break;
        default:
          console.log("no funciona");
      }
    }
  };

  window.onload = calificar;




</script>
<!-- ************************************ -->

<!-- ***************   CARRUSEL  ********************* -->

<script type="text/javascript">
    const fila = document.querySelector('.contenedor-carousel');
    const peliculas = document.querySelectorAll('.pelicula');

    const flechaIzquierda = document.getElementById('flecha-izquierda');
    const flechaDerecha = document.getElementById('flecha-derecha');

    flechaDerecha.addEventListener('click', () => {
        fila.scrollLeft += fila.offsetWidth;

        const indicadorActivo = document.querySelector('.indicadores .activo');
        if (indicadorActivo.nextSibling) {
            indicadorActivo.nextSibling.classList.add('activo');
            indicadorActivo.classList.remove('activo');
        }
    });

    flechaIzquierda.addEventListener('click', () => {
        fila.scrollLeft -= fila.offsetWidth;

        const indicadorActivo = document.querySelector('.indicadores .activo');
        if (indicadorActivo.previousSibling) {
            indicadorActivo.previousSibling.classList.add('activo');
            indicadorActivo.classList.remove('activo');
        }
    });

    const numeroPaginas = Math.ceil(peliculas.length / 5);
    for (let i = 0; i < numeroPaginas; i++) {
        const indicador = document.createElement('button');

        if (i === 0) {
            indicador.classList.add('activo');
        }

        document.querySelector('.indicadores').appendChild(indicador);
        indicador.addEventListener('click', (e) => {
            fila.scrollLeft = i * fila.offsetWidth;

            document.querySelector('.indicadores .activo').classList.remove('activo');
            e.target.classList.add('activo');
        });
    }

    peliculas.forEach((pelicula) => {
        pelicula.addEventListener('mouseenter', (e) => {
            const elemento = e.currentTarget;
            setTimeout(() => {
                peliculas.forEach(pelicula => pelicula.classList.remove('hover'));
                elemento.classList.add('hover');
            }, 300);
        });
    });

    fila.addEventListener('mouseleave', () => {
        peliculas.forEach(pelicula => pelicula.classList.remove('hover'));
    });
</script>